{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": ["./tsconfig.json"]
    },
    "plugins": ["@typescript-eslint"],
    "extends": ["plugin:@typescript-eslint/recommended", "eslint:recommended"],
    "rules": {
        "@typescript-eslint/no-floating-promises": ["error", { "ignoreVoid": true }],
        "@typescript-eslint/consistent-type-imports": ["error", { "prefer": "type-imports" }],
        "@typescript-eslint/ban-ts-comment": "off"
    },
    "env": {
        "node": true,
        "es6": true
    },
    "ignorePatterns": ["dist"]
}
